 .u-section-1 {
  min-height: 986px;
}

.u-section-1 .u-image-1 {
  height: 221px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 calc(((100% - 1140px) / 2) + 687px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-custom-html-1 {
  min-height: 507px;
  margin-top: 14px;
  margin-bottom: 7px;
  width: 1300px;
  margin-left: calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 587px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 477px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 387px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}