 .u-section-1 {
  min-height: 239px;
}

.u-section-1 .u-image-1 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 570px 0 2px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 311px;
  width: 171px;
  margin: 12px auto 0;
}

.u-section-2 .u-image-1 {
  width: 441px;
  height: 244px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -311px auto 0 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 215px;
  margin: -244px 48px 0 686px;
}

.u-section-2 .u-text-2 {
  margin: 12px 0 0 686px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-table-1 {
  width: 769px;
  margin: 23px auto 0 1px;
}

.u-block-539a-16 {
  height: 46px;
}

.u-section-2 .u-table-body-1 {
  font-weight: 700;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-block-539a-34 {
  height: 46px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 23px 0;
  padding: 10px 377px 10px 376px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 372px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    margin-right: 0;
    margin-left: 533px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 152px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 313px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 133px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2322px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 2307px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}